<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Support</servlet-name>
        <servlet-class>servlet.Support</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Setting</servlet-name>
        <servlet-class>servlet.Setting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>servlet.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>App</servlet-name>
        <servlet-class>servlet.App</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Case</servlet-name>
        <servlet-class>servlet.Case</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdvSetting</servlet-name>
        <servlet-class>servlet.AdvSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Start</servlet-name>
        <servlet-class>servlet.Start</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Support</servlet-name>
        <url-pattern>/Support</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Setting</servlet-name>
        <url-pattern>/Setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>App</servlet-name>
        <url-pattern>/App</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Case</servlet-name>
        <url-pattern>/Case</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdvSetting</servlet-name>
        <url-pattern>/AdvSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Start</servlet-name>
        <url-pattern>/Start</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
