<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Maquinaria</servlet-name>
        <servlet-class>Servlet.Maquinaria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notas</servlet-name>
        <servlet-class>Servlet.Notas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Novedades</servlet-name>
        <servlet-class>Servlet.Novedades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>R_GC_079</servlet-name>
        <servlet-class>Servlet.R_GC_079</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ubicacion</servlet-name>
        <servlet-class>Servlet.Ubicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>Servlet.Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ingreso</servlet-name>
        <servlet-class>Servlet.Ingreso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Controlador.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Maquinaria</servlet-name>
        <url-pattern>/Maquinaria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notas</servlet-name>
        <url-pattern>/Notas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Novedades</servlet-name>
        <url-pattern>/Novedades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>R_GC_079</servlet-name>
        <url-pattern>/R_GC_079</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ubicacion</servlet-name>
        <url-pattern>/Ubicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuarios</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ingreso</servlet-name>
        <url-pattern>/Ingreso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Connector</servlet-name>
        <servlet-class>com.fredck.FCKeditor.connector.ConnectorServlet</servlet-class>
        <init-param>
            <param-name>baseDir</param-name>
            <param-value>/UserFiles/</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SimpleUploader</servlet-name>
        <servlet-class>com.fredck.FCKeditor.uploader.SimpleUploaderServlet</servlet-class>
        <init-param>
            <param-name>baseDir</param-name>
            <param-value>/UserFiles/</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>enabled</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>AllowedExtensionsFile</param-name>
            <param-value/>
        </init-param>
        <init-param>
            <param-name>DeniedExtensionsFile</param-name>
            <param-value>php|php3|php5|phtml|asp|aspx|ascx|jsp|cfm|cfc|pl|bat|exe|dll|reg|cgi</param-value>
        </init-param>
        <init-param>
            <param-name>AllowedExtensionsImage</param-name>
            <param-value>jpg|gif|jpeg|png|bmp</param-value>
        </init-param>
        <init-param>
            <param-name>DeniedExtensionsImage</param-name>
            <param-value/>
        </init-param>
        <init-param>
            <param-name>AllowedExtensionsFlash</param-name>
            <param-value>swf|fla</param-value>
        </init-param>
        <init-param>
            <param-name>DeniedExtensionsFlash</param-name>
            <param-value/>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Connector</servlet-name>
        <url-pattern>/tinyfck/filemanager/connectors/jsp/connector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleUploader</servlet-name>
        <url-pattern>/tinyfck/filemanager/upload/simpleuploader</url-pattern>
    </servlet-mapping>
</web-app>
