.tab-content {
    border: 1px solid #833471;
    background: white; /*#FFF3B3;*/
    color: black;
    padding: 0.5em;
}
.tab-content img {
/*    width: 22px;
    height: 22px;*/
}

.tab-header {
    position: relative;
    height: 3em;
    width: 50em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.tab-header ul.tab-list {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -1px;
    width:900px;
/*    width: 50em;  a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

.tab-header ul.tab-list li  {
    display: inline;
    list-style: none;
    margin: 0;
}

.tab-header ul.tab-list a,.tab-header ul.tab-list span,.tab-header ul.tab-list a.tab-active {
    width: 12em;
    display: block;
    float: left;
    padding: 4px 0;
    margin: 1px 2px 0 0;
    text-align: center;
    font-family: tahoma, verdana, sans-serif;
    font-size: 85%;
    text-decoration: none;
    color: #333;
}

.tab-header ul.tab-list span,.tab-header ul.tab-list a.tab-active,.tab-header ul.tab-list a.tab-active:hover {
    border-top: 1px solid #833471;
    border-left: 1px solid #833471;
    border-right: 1px solid #833471;
    border-bottom: none;
    background: #fff;
    color: #833471;
    padding-bottom: 6px;
    margin-top: 0;
}

/* a link in a background tab */
.tab-header ul.tab-list a {
    background: #2f3640;
    border-color: #2f3640;
    border-radius: 10px 10px 0 0;
    color: #fff;
    border-top: 1px solid #2f3640;
    border-left: 1px solid #2f3640;
    border-right: 1px solid #2f3640;
    border-bottom: none;
}

/* hover on a background tab */
.tab-header ul.tab-list a:hover {
    margin-top: 0;
    border-color: #833471;
    background: #833471;
    color: #fff;
    padding-bottom: 5px;
}

.tab  /* the heading that became the li */
{
    display: none;
}
