/Activos/nbproject/private/
/Activos/build/
/Activos/dist/

/Aplicativos_Plastitec/nbproject/private/
/Aplicativos_Plastitec/build/
/Aplicativos_Plastitec/dist/

/AppPruebas/nbproject/private/
/AppPruebas/build/
/AppPruebas/dist/

/AppTI/nbproject/private/
/AppTI/build/
/AppTI/dist/

/DisenoDesarrollo/nbproject/private/
/DisenoDesarrollo/build/
/DisenoDesarrollo/dist/

/Bitacora_calidad/nbproject/private/
/Bitacora_calidad/build/
/Bitacora_calidad/dist/

/Bitacora_general/nbproject/private/
/Bitacora_general/build/
/Bitacora_general/dist/

/CBGC/nbproject/private/
/CBGC/build/
/CBGC/dist/

/COA/nbproject/private/
/COA/build/
/COA/dist/

/Controles_microbiologicos/nbproject/private/
/Controles_microbiologicos/build/
/Controles_microbiologicos/dist/

/CVP/nbproject/private/
/CVP/build/
/CVP/dist/

/Inspeccion_manga/nbproject/private/
/Inspeccion_manga/build/
/Inspeccion_manga/dist/

/LOCATIVOS/nbproject/private/
/LOCATIVOS/build/
/LOCATIVOS/dist/

/PMP/nbproject/private/
/PMP/build/
/PMP/dist/

/PMP/nbproject/private/
/PMP/build/
/PMP/dist/

/PMP MF/nbproject/private/
/PMP MF/build/
/PMP MF/dist/

/REDEAC/nbproject/private/
/REDEAC/build/
/REDEAC/dist/

/REDEAC/nbproject/private/
/REDEAC/build/
/REDEAC/dist/

/Registro_pesaje/nbproject/private/
/Registro_pesaje/build/
/Registro_pesaje/dist/

/Registros_lab/nbproject/private/
/Registros_lab/build/
/Registros_lab/dist/

/Reunion/nbproject/private/
/Reunion/build/
/Reunion/dist/

/SAGRILAFT/nbproject/private/
/SAGRILAFT/build/
/SAGRILAFT/dist/

/SIRH/nbproject/private/
/SIRH/build/
/SIRH/dist/

/SIRH_CES/nbproject/private/
/SIRH_CES/build/
/SIRH_CES/dist/

/Sistema_Tubo/nbproject/private/
/Sistema_Tubo/build/
/Sistema_Tubo/dist/
