/AppTI/nbproject/private/
/AppTI/build/
/AppTI/dist/
/Sistema_Tubo/nbproject/private/
/Sistema_Tubo/build/
/Sistema_Tubo/dist/
/Inspeccion_manga/nbproject/private/
/Inspeccion_manga/build/
/Inspeccion_manga/dist
/GBGC/nbproject/private/
/GBGC/build/
/GBGC/dist/
/Bitacora_general/nbproject/private/
/Bitacora_general/build/
/Bitacora_general/dist
/REDEAC/nbproject/private/
/REDEAC/build/
/REDEAC/dist/
/Activos/nbproject/private/
/Activos/build/
/Activos/dist/
/AppPruebas/nbproject/private/
/AppPruebas/build/
/AppPruebas/dist/
/Registro_pesaje/nbproject/private/
/Registro_pesaje/build/
/Registro_pesaje/dist/
/SAGRILAFT/nbproject/private/
/SAGRILAFT/build/
/SAGRILAFT/dist/
