/AppTI/nbproject/private/
/AppTI/build/
/AppTI/dist/
/Sistema_Tubo/nbproject/private/
/Sistema_Tubo/build/
/Sistema_Tubo/dist/
/Inspeccion_manga/nbproject/private/
/Inspeccion_manga/build/
/Inspeccion_manga/dist