.box-shadow {
    border: 1px solid #ebeff3;
    box-shadow: 0 6px 19px rgba(39, 49, 58, 0.1);
}
.DivKno{
    border-bottom: 1px solid gray;
    margin-top: 1%;
    width: 100%;
}
.br-12 {
    border-radius: .75rem;
}
.fw-no-bullet {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
}
.ms-36 {
    margin-left: 2.25rem !important;
}
.DetailBorderRight{
    border-right: 1px solid #d5d5d5;
}
.DetailBorderBottom{
    border-bottom: 1px solid #d5d5d5;
}
.OutMargin{
    margin-right: 0px !important; 
    margin-left:  0px !important; 
}
.linkColor{
    color:#014b9b
}
.ColorTitle{
    color: #0b0025  
}
.Card1{
    background-color: #efefef !important;
}
span.opcion {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease, text-decoration-color 0.3s ease;
    cursor: pointer;
}

span.opcion:hover {
    transform: scale(1.05);         /* un poquito más grande */
    color: #007bff;                /* cambia el color (ej: azul bootstrap) */
    text-decoration: underline;    /* subraya al pasar el mouse */
}
.SectionColor{
    background-color: #ffffff  !important;
}






