body{
    text-align: center;
    font-family:"Segoe UI";
    background-image: linear-gradient(to right, #2c3e50, #4ca1af);


}

input:focus, input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

b{
    color:#1b000a;
}
.B_color{
    color:#1b000a;
    font-size: 18px;
}
.B_color2{
    /*    color:#1b000a;
        font-size: 25px;*/
    font-size: 25px;
    color:#1b000a;
}
hr {
    border: 0;
    height: 1px;
    width: 50%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
h1{
    color:#fff;
    font-size: 42px;
    text-shadow: 2px 2px #1b000a;
}
h3{
    color:#1b000a;
}
h4{
    color:#fff;
}

.circle{
    background: rgba(255, 255, 255, 0.3);
    border:none;
    border-radius:25px;
    text-align: center;
}
.circle2{
    background: #fff;
    border:none;
    border-radius:25px;
    text-align: center;
}
#datos{
    background: rgba(255, 255, 255, 0.3);
    border:none;
    border-radius:25px;
    font-size: 16px;
    text-align: center;
}


input[type="text"]{
    background: rgba(255, 255, 255, 0.5);
    width: 60%;
    height: 50px;
    font-size: 18px;
    border-radius:25px;
    color:#000000;
    text-align: center;
    border:none;
}

input[type="submit"]{
    background-color: #000000;
    width: 40%;
    height: 50px;
    font-size: 18px;
    border-radius:25px;
    color:#fff;
    text-align: center;
    border:none;
}
.colorEscanear{
    color: #00fefe;
    text-shadow: 2px 2px #323232;
}
