.tab-content {
    border: 1px solid #00aba9;
    background: white;
    padding: 0.5em;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.tab-content img {
    width: 22px;
    height: 22px;
}

.tab-header {
    position: relative;
    height: 3em;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.tab-header ul.tab-list {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -1px;
    width:100%;
}

.tab-header ul.tab-list li  {
    display: inline;
    list-style: none;
    margin: 0;
}

.tab-header ul.tab-list a,.tab-header ul.tab-list span,.tab-header ul.tab-list a.tab-active {
    width: 8em;
    display: block;
    float: left;
    padding: 4px 0;
    margin: 1px 2px 0 0;
    text-align: center;
    font-family: tahoma, verdana, sans-serif;
    font-size: 85%;
    text-decoration: none;
    color: #00aba9;
}

.tab-header ul.tab-list span,.tab-header ul.tab-list a.tab-active,.tab-header ul.tab-list a.tab-active:hover {
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    border-top: 1px solid #00aba9;
    border-left: 1px solid #00aba9;
    border-right: 1px solid #00aba9;
    border-bottom: none;
    background: #fff;
    color: #00aba9;
    font-weight: bold;
    padding-bottom: 6px;
    margin-top: 0;
}

.tab-header ul.tab-list a {
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    background: #596275;
    border-color: #596275;
    color: #fff;
    border-top: 1px solid #596275;
    border-left: 1px solid #596275;
    border-right: 1px solid #596275;
    border-bottom: none;
}

.tab-header ul.tab-list a:hover {
    margin-top: 0;
    border-color: #00aba9;
    background: #00aba9;
    color: #fff;
    padding-bottom: 5px;
}

.tab
{
    display: none;
}
