<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Session</servlet-name>
        <servlet-class>Servlet.Session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Generate</servlet-name>
        <servlet-class>Servlet.Generate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Format</servlet-name>
        <servlet-class>Servlet.Format</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdvConfig</servlet-name>
        <servlet-class>Servlet.AdvConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>Servlet.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Role</servlet-name>
        <servlet-class>Servlet.Role</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Start</servlet-name>
        <servlet-class>Servlet.Start</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Session</servlet-name>
        <url-pattern>/Session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Generate</servlet-name>
        <url-pattern>/Generate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Format</servlet-name>
        <url-pattern>/Format</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdvConfig</servlet-name>
        <url-pattern>/AdvConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Role</servlet-name>
        <url-pattern>/Role</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Start</servlet-name>
        <url-pattern>/Start</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
           250
        </session-timeout>
    </session-config>
</web-app>
