.left-col {
    width: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff5e001f;
    border:1px solid #ff7171;
    border-radius: 4px;
}

.right-col {
    width: 96%; /* resto del espacio */
    padding-left: 10px;
}

.textRotate {
    display: inline-block;
    transform: rotate(-90deg);
    transform-origin: center;
    font-weight: bold;
    color: #dc3545; /* rojo estilo "alerta" */
    white-space: nowrap;
}
.textHead {
    display: inline-block;
    transform-origin: center;
    font-weight: bold;
    color: #dc3545; /* rojo estilo "alerta" */
    white-space: nowrap;
}
.textsoonHead {
    display: inline-block;
    transform-origin: center;
    font-weight: bold;
    color: #ff5928; /* rojo estilo "alerta" */
    white-space: nowrap;
}
.DivHead {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff000021;
    border-radius: 4px;
    font-size: 10px;
}
.DivsoonHead {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff5e001f;
    border-radius: 4px;
    font-size: 10px;
}

.divDefeated{
    border-bottom: 1px solid #ff7171 !important;
    background: #ff5e001f !important;
}
.ticket-item.active.vencido {
    background-color: #ffbfbf99 !important;
}
.ticket-item.active.soonHead{
    background-color: #f7e5d699 !important; 
}