article.accordion
{
    display: block;
    width:100%;
    background-color: #ddd;
}

article.accordion section
{
    display: block;
    height: 2em;
    padding: 0 0;
    margin: 0 0 0.5em 0;
    color: #fff;
    background-color: #CC0000;
    overflow: hidden;
    /*	border-radius: 3px;*/
}

article.accordion section h3
{
    /*    font-weight: bold;*/
    line-height: 2em;
    padding: 0 10px;
    margin: 0;
    color: #fff;
    background-color: #CC0000;
}

article.accordion section h3 a
{
    color: #fff;
    background-color: #CC0000;
    /*test arriba*/
    display: block;
    font-size: 12px;
    line-height: 2em;
    text-decoration: none;
    outline: 0 none;
}
article.accordion section:target
{
    height: 100%;
    background-color: #fff;
    border: 1px solid #CC0000;
}

article.accordion section:target h3
{
    font-size: 1.6em;
    color: #333;
}
article.accordion section,
article.accordion section h3
{
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -ms-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
}