<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>Servlet.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Role</servlet-name>
        <servlet-class>Servlet.Role</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>advConfig</servlet-name>
        <servlet-class>Servlet.advConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Template</servlet-name>
        <servlet-class>Servlet.Template</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shift</servlet-name>
        <servlet-class>Servlet.Shift</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Format</servlet-name>
        <servlet-class>Servlet.Format</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Session</servlet-name>
        <servlet-class>Servlet.Session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Start</servlet-name>
        <servlet-class>Servlet.Start</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pending</servlet-name>
        <servlet-class>Servlet.Pending</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Binnacle</servlet-name>
        <servlet-class>Servlet.Binnacle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Support</servlet-name>
        <servlet-class>Servlet.Support</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Customer</servlet-name>
        <servlet-class>Servlet.Customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>Servlet.Report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Application</servlet-name>
        <servlet-class>Servlet.Application</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppDetail</servlet-name>
        <servlet-class>Servlet.AppDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Computer</servlet-name>
        <servlet-class>Servlet.Computer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Indicator</servlet-name>
        <servlet-class>Servlet.Indicator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Schedule</servlet-name>
        <servlet-class>Servlet.Schedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Minute</servlet-name>
        <servlet-class>Servlet.Minute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Activity</servlet-name>
        <servlet-class>Servlet.Activity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Call</servlet-name>
        <servlet-class>Servlet.Call</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reference</servlet-name>
        <servlet-class>Servlet.Reference</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Information</servlet-name>
        <servlet-class>Servlet.Information</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoveItem</servlet-name>
        <servlet-class>Servlet.MoveItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataExport</servlet-name>
        <servlet-class>Servlet.DataExport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackingItem</servlet-name>
        <servlet-class>Servlet.TrackingItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Filter</servlet-name>
        <servlet-class>Servlet.Filter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>Servlet.Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocalChatBotServelt</servlet-name>
        <servlet-class>Servlet.LocalChatBotServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editor</servlet-name>
        <servlet-class>Servlet.Editor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElfinderConnector</servlet-name>
        <servlet-class>Servlet.ElfinderConnector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>Servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectorServlet</servlet-name>
        <servlet-class>Servlet.ConnectorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>Servlet.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckerMail</servlet-name>
        <servlet-class>Servlet.CheckerMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivitySystem</servlet-name>
        <servlet-class>Servlet.ActivitySystem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Role</servlet-name>
        <url-pattern>/Role</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>advConfig</servlet-name>
        <url-pattern>/advConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Template</servlet-name>
        <url-pattern>/Template</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shift</servlet-name>
        <url-pattern>/Shift</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Format</servlet-name>
        <url-pattern>/Format</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Session</servlet-name>
        <url-pattern>/Session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Start</servlet-name>
        <url-pattern>/Start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pending</servlet-name>
        <url-pattern>/Pending</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Binnacle</servlet-name>
        <url-pattern>/Binnacle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Support</servlet-name>
        <url-pattern>/Support</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Customer</servlet-name>
        <url-pattern>/Customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Application</servlet-name>
        <url-pattern>/Application</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppDetail</servlet-name>
        <url-pattern>/AppDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Computer</servlet-name>
        <url-pattern>/Computer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Indicator</servlet-name>
        <url-pattern>/Indicator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Schedule</servlet-name>
        <url-pattern>/Schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Minute</servlet-name>
        <url-pattern>/Minute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Activity</servlet-name>
        <url-pattern>/Activity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Call</servlet-name>
        <url-pattern>/Call</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reference</servlet-name>
        <url-pattern>/Reference</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Information</servlet-name>
        <url-pattern>/Information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoveItem</servlet-name>
        <url-pattern>/MoveItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataExport</servlet-name>
        <url-pattern>/DataExport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackingItem</servlet-name>
        <url-pattern>/TrackingItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Filter</servlet-name>
        <url-pattern>/Filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocalChatBotServelt</servlet-name>
        <url-pattern>/LocalChatBotServelt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editor</servlet-name>
        <url-pattern>/Editor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElfinderConnector</servlet-name>
        <url-pattern>/ElfinderConnector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectorServlet</servlet-name>
        <url-pattern>/ConnectorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckerMail</servlet-name>
        <url-pattern>/CheckerMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivitySystem</servlet-name>
        <url-pattern>/ActivitySystem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1200
        </session-timeout>
    </session-config>
</web-app>
