<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Area</servlet-name>
        <servlet-class>Servlets.Area</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accesorio</servlet-name>
        <servlet-class>Servlets.Accesorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Instrumento_medicion</servlet-name>
        <servlet-class>Servlets.Instrumento_medicion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Noconforme</servlet-name>
        <servlet-class>Servlets.Noconforme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tipo_instrumento</servlet-name>
        <servlet-class>Servlets.Tipo_instrumento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tipo_verificacion</servlet-name>
        <servlet-class>Servlets.Tipo_verificacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>Servlets.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Support</servlet-name>
        <servlet-class>Servlets.Support</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmarMail</servlet-name>
        <servlet-class>Servlets.ConfirmarMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>Servlets.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Anulado</servlet-name>
        <servlet-class>Servlets.Anulado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DescargasP</servlet-name>
        <servlet-class>Servlets.DescargasP</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Area</servlet-name>
        <url-pattern>/Area</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accesorio</servlet-name>
        <url-pattern>/Accesorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Instrumento_medicion</servlet-name>
        <url-pattern>/Instrumento_medicion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Noconforme</servlet-name>
        <url-pattern>/Noconforme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tipo_instrumento</servlet-name>
        <url-pattern>/Tipo_instrumento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tipo_verificacion</servlet-name>
        <url-pattern>/Tipo_verificacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Support</servlet-name>
        <url-pattern>/Support</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmarMail</servlet-name>
        <url-pattern>/ConfirmarMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Anulado</servlet-name>
        <url-pattern>/Anulado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DescargasP</servlet-name>
        <url-pattern>/DescargasP</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
