<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>Servlets.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Defecto</servlet-name>
        <servlet-class>Servlets.Defecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calibrador</servlet-name>
        <servlet-class>Servlets.Calibrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Maquina</servlet-name>
        <servlet-class>Servlets.Maquina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Nota</servlet-name>
        <servlet-class>Servlets.Nota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Orden</servlet-name>
        <servlet-class>Servlets.Orden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Turno</servlet-name>
        <servlet-class>Servlets.Turno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Visual</servlet-name>
        <servlet-class>Servlets.Visual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ficha_tecnica</servlet-name>
        <servlet-class>Servlets.Ficha_tecnica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resumen</servlet-name>
        <servlet-class>Servlets.Resumen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Defecto</servlet-name>
        <url-pattern>/Defecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calibrador</servlet-name>
        <url-pattern>/Calibrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Maquina</servlet-name>
        <url-pattern>/Maquina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Nota</servlet-name>
        <url-pattern>/Nota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Orden</servlet-name>
        <url-pattern>/Orden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Turno</servlet-name>
        <url-pattern>/Turno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Visual</servlet-name>
        <url-pattern>/Visual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ficha_tecnica</servlet-name>
        <url-pattern>/Ficha_tecnica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resumen</servlet-name>
        <url-pattern>/Resumen</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
