<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Sesion</servlet-name>
        <servlet-class>Servlets.Sesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>Servlets.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Session</servlet-name>
        <servlet-class>Servlets.Session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proveedores</servlet-name>
        <servlet-class>Servlets.Proveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proveedor</servlet-name>
        <servlet-class>Servlets.Proveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Complementos</servlet-name>
        <servlet-class>Servlets.Complementos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Solicitud</servlet-name>
        <servlet-class>Servlets.Solicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Programacion</servlet-name>
        <servlet-class>Servlets.Programacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ejecucion</servlet-name>
        <servlet-class>Servlets.Ejecucion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>Servlets.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Descargar</servlet-name>
        <servlet-class>Mail.Descargar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Descargar_plano</servlet-name>
        <servlet-class>Mail.Descargar_plano</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Descargar_anexos</servlet-name>
        <servlet-class>Mail.Descargar_anexos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Libre</servlet-name>
        <servlet-class>Servlets.Libre</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sesion</servlet-name>
        <url-pattern>/Sesion/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Session</servlet-name>
        <url-pattern>/Session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proveedores</servlet-name>
        <url-pattern>/Proveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proveedor</servlet-name>
        <url-pattern>/Proveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Complementos</servlet-name>
        <url-pattern>/Complementos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Solicitud</servlet-name>
        <url-pattern>/Solicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Programacion</servlet-name>
        <url-pattern>/Programacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ejecucion</servlet-name>
        <url-pattern>/Ejecucion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Descargar</servlet-name>
        <url-pattern>/Descargar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Descargar_plano</servlet-name>
        <url-pattern>/Descargar_plano</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Descargar_anexos</servlet-name>
        <url-pattern>/Descargar_anexos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Libre</servlet-name>
        <url-pattern>/Libre</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            180
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
