<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Complemento</servlet-name>
        <servlet-class>Servlets.Complemento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proyecto</servlet-name>
        <servlet-class>Servlets.Proyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sesion</servlet-name>
        <servlet-class>Servlets.Sesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>Servlets.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Permisos</servlet-name>
        <servlet-class>Servlets.Permisos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Complemento</servlet-name>
        <url-pattern>/Complemento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proyecto</servlet-name>
        <url-pattern>/Proyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Descargar</servlet-name>
        <url-pattern>/Descargar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Descargar</servlet-name>
        <servlet-class>Methods.Descargar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sesion</servlet-name>
        <url-pattern>/Sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Permisos</servlet-name>
        <url-pattern>/Permisos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
</web-app>
