<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Data_sheet</servlet-name>
        <servlet-class>Servlet.Data_sheet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Footage_verification</servlet-name>
        <servlet-class>Servlet.Footage_verification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Line</servlet-name>
        <servlet-class>Servlet.Line</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mail</servlet-name>
        <servlet-class>Servlet.Mail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Permissions</servlet-name>
        <servlet-class>Servlet.Permissions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Record</servlet-name>
        <servlet-class>Servlet.Record</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Role</servlet-name>
        <servlet-class>Servlet.Role</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Roll</servlet-name>
        <servlet-class>Servlet.Roll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Roll_events</servlet-name>
        <servlet-class>Servlet.Roll_events</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Templates</servlet-name>
        <servlet-class>Servlet.Templates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>Servlet.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Production_order</servlet-name>
        <servlet-class>Servlet.Production_order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Parameter</servlet-name>
        <servlet-class>Servlet.Parameter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Quality_record</servlet-name>
        <servlet-class>Servlet.Quality_record</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Start</servlet-name>
        <servlet-class>Servlet.Start</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Quality_certificate</servlet-name>
        <servlet-class>Servlet.Quality_certificate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Statistical</servlet-name>
        <servlet-class>Servlet.Statistical</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Support</servlet-name>
        <servlet-class>Servlet.Support</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cleanup</servlet-name>
        <servlet-class>Servlet.Cleanup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RollPP</servlet-name>
        <servlet-class>Servlet.RollPP</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Data_sheet</servlet-name>
        <url-pattern>/Data_sheet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Footage_verification</servlet-name>
        <url-pattern>/Footage_verification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Line</servlet-name>
        <url-pattern>/Line</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mail</servlet-name>
        <url-pattern>/Mail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Permissions</servlet-name>
        <url-pattern>/Permissions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Record</servlet-name>
        <url-pattern>/Record</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Role</servlet-name>
        <url-pattern>/Role</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Roll</servlet-name>
        <url-pattern>/Roll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Roll_events</servlet-name>
        <url-pattern>/Roll_events</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Templates</servlet-name>
        <url-pattern>/Templates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Production_order</servlet-name>
        <url-pattern>/Production_order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Parameter</servlet-name>
        <url-pattern>/Parameter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Quality_record</servlet-name>
        <url-pattern>/Quality_record</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Start</servlet-name>
        <url-pattern>/Start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Quality_certificate</servlet-name>
        <url-pattern>/Quality_certificate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Statistical</servlet-name>
        <url-pattern>/Statistical</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Support</servlet-name>
        <url-pattern>/Support</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cleanup</servlet-name>
        <url-pattern>/Cleanup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RollPP</servlet-name>
        <url-pattern>/RollPP</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
