@charset 'ISO-8859-1';

/*********************************************************************************/
/* Otros globales                                                                         */
/*********************************************************************************/
.comp_graf{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}
.content_comp_graf {
    width: 60px;
}
.cero{
    background-color: #FFFFFF;
    border: 1px solid #BDC1C6;
    box-sizing: border-box;
}
.uno{
    background-color: #EA4335;
}
.dos{
    background-color: #FFC312;
}
.tres{
    background-color: #A3CB38;
}
.cuatro{
    background-color: #3AA757;
}
.vacio{
    background-color: #a4b0be;
}
.rojo{
    color: #EA4335;
}
.verde{
    color: #3AA757;
}
.naranja{
    color: #F6921E;
}
.fa-size_small{
    font-size: 1.8em;
}
.fa-size_super_small{
    font-size: 1.4em;
}
.fa-size_normal{
    font-size: 3em;
}
.fa-size_medio{
    font-size: 5em;
}
.fa-size_big{
    font-size: 10em;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("images/Loading3.gif") 50% 50% no-repeat #fff;
}
.loader2 {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("images/Loading3.gif") 50% 50% no-repeat #fff;
    display:none;
}

/*TABLA MARCACIONES*/
.table-container{
    max-width: 100%;
    overflow-x:scroll; 
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    overflow-y: hidden;
}
.table-zebra{
    font-family:"Segoe UI";
    font-size: 12px;
    borde-top:1px solid #ccc;
    border-spacing: 0;
}
.table-zebra thead th{
    background: #b2bec3;
    color: #fff;
    border:1px solid #ccc;
}
.table-zebra td,
.table-zebra th{
    border-right:1px solid #ccc;
    min-width: 100px;
    padding: 0.5rem;
}
.table-zebra td:last-child,
.table-zebra th:last-child{
    border-right: 0;
}
.table-zebra td{
    border-bottom: 1px solid #ccc;
}
.table-zebra tbody tr{
    background: #fff;
}
.table-zebra tbody tr:nth-child(2n){
    background: #f2f2f2;
}
.table-zebra .sticky{
    position: sticky;
    left:0;
    z-index: 10;
}
.table-zebra tbody tr .sticky{
    background: #fff;
}
.table-zebra tbody tr :nth-child(2n) .sticky{
    background: #f2f2f2;
}


.cont_reg{
    transition: 1s;
    margin: auto;
    width: 55%;
    background: white;
    margin-top: 5%;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 30%;
}

.btn-select{
    background: transparent;
    border: 1px solid transparent;
    font-size: 22px;
    color: #596275;
    cursor: pointer;
}

.btn-aprob{
    background: #3ddb49de;
    border: 1px solid transparent;
    font-size: 18px;
    color: #3c3c3c;
    cursor: pointer;
    border-radius: 6px;
    height: 35px;
    margin-right: 10px;
}

.btn-noApr{
    background: #db3d3dde;
    border: 1px solid transparent;
    font-size: 18px;
    color: #3c3c3c;
    cursor: pointer;
    border-radius: 6px;
    height: 35px;
    margin-right: 10px;
    width: 32px;
}

.btn-select:hover{
    transform: scale(1.1);
}


