/* Contenedor general */
.reset-pass-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1818187a;
    padding: 20px;
    width: 100%;
}

/* Formulario */
.cont-pass {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    width: 450px;
}

.BtnSt{
    width: 5%;
    border-radius: 14%;
}
.i_bnt{
    padding: 9%;
}

/* Header */
.header_reset {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header_reset h2 {
    font-family: "Segoe UI", sans-serif;
    color: #0b0025;
}

.close-btn {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
}

.close-btn:hover {
    background-color: #f2f2f2;
}

/* Texto informativo */
.info-text {
    text-align: center;
    color: #555;
    font-size: 14px;
    line-height: 1.5;
}

/* Inputs */
.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.inputs-container .form-control {
    padding: 12px;
    border-radius: 8px;
    font-size: 14px;
}

/* Requisitos y logo */
.requirements-logo {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.requirements {
    flex: 1;
    font-size: 13px;
    color: #333;
}

.logo img {
    width: 120px;
    border-radius: 8px;
}

/* Botón */
.submit-btn {
    text-align: center;
    margin-top: 25px;
}

.submit-btn button {
    background: #dccbff;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.submit-btn button:hover {
    background: #289577;
}


